*{margin:0; padding:0;}

body{
	background-color: #CAD5F3;
}

html{
	scroll-behavior: smooth;
}

/* HEADER */
header{
	background-image: url("../img/fondo.jpg");
	padding: 50px 0;
}

h1{
	background-color: #293F9B;
	color: white;
	text-align: center;

	margin: 0 auto;
	width: 300px;
	letter-spacing: 3px;
	padding: 30px;
}

header nav{
	width: 400px;
	margin: 20px auto;
}

header nav ul{
	list-style-type: none;
	text-align: center;
}

header nav ul li{
	display: inline-block;
	width: 100px;
}

 header nav ul li a{
	display: block;
	background-color: white;
	color: rgb(24, 24, 114);
	letter-spacing: 1px;
	padding: 5px;
	text-decoration: none;
	text-align: center;
 }

 header nav ul li a:hover{
	background-color:rgb(24, 24, 114);
	color: white;
 }

/* MAIN */

main{
	background-color: white;
	margin: 0 auto;
	width: 1024px;
	padding: 30px;
}

section {
	margin-bottom: 220px;
	padding-top: 20px;
}

section a{
	display: block;
	width: 100px;
	background-color: blue;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 5px;
	border-radius: 3px;
	margin-top: 20px;
}

section a:hover{
	background-color: skyblue;
	color: blue;
}

/* SECCION UNO */

h2{
	border-bottom: dashed 1px;
	margin-bottom: 10px;
}

h2, strong{
	color: #E83F07;
}

p{
	margin-bottom: 10px;
}

/* SECCION DOS */

img{
	width: 320px;
}

figcaption{
	border-top: 1px solid #293F9B;
	border-bottom: 1px solid #293F9B;
	text-align: center;
	margin: 10px 0;
	padding: 10px 0;
}

/* SECCION TRES  */

section ul{
	list-style-image: url("../img/flecha.png");
	padding-left: 18px;
}

section ul li{
	border-bottom: 1px dashed #CAD5F3;
	padding-left: 10px;
}

/* FOOTER */

footer{
	text-align: center;
	letter-spacing: 3px;
	color: #293F9B;
	border-top: 1px dashed;
	margin-top:10px;
	padding-top: 5px;
}